@model  Library.Models.Book;
<div class="container p-5 d-flex justify-content-center">
    <div class="card" style="width:30rem;">
        <img asp-append-version="true" src="~/resources/images/Book1.png" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
           <div class="card-title">@Model.Name</div>
               <p class="card-text">Some quick example text to build on the card title and name.</p>
           </div>
        <div class="row">
            <div class="col-5 offset-1">
                <button class="col-12 btn btn-outline-secondary">Issue</button>
            </div>
            <div class="col-5">
                <button class="col-12 btn btn-outline-secondary">Return</button>
            </div>
        </div>
        </div>
    </div>

